In [1]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread
import pandas as pd

In [2]:
scope = [
    'https://www.googleapis.com/auth/spreadsheets',
]

In [3]:
GOOGLE_KEY_FILE = 'gsheets_key.json'

In [4]:
credentials = ServiceAccountCredentials.from_json_keyfile_name(GOOGLE_KEY_FILE, scope)
gc = gspread.authorize(credentials)

In [5]:
wokbook_key = '1mGcKJNUJJvVbN4ycStlQM6PIyWe7ZX1TSSu0OEjH6eY'
workbook = gc.open_by_key(wokbook_key)

In [6]:
sheet = workbook.get_worksheet(2)
values = sheet.get_all_values()

In [7]:
covid_data = pd.DataFrame(values[1:],columns=values[0])

In [8]:
covid_data.head()

,County,GEOGID,d_20200306,d_20200307,d_20200308,d_20200309,d_20200310,d_20200311,d_20200312,d_20200313,...,D_20200407,D_20200408,D_20200409,D_20200410,D_20200411,D_20200412,D_20200413,D_20200414,D_20200415,D_20200416
0,Adams County,18001,,,,,1,1,1,1,...,2,2,2,4,4,5,5,6,6,6
1,Allen County,18003,,,,,,,,,...,87,95,105,119,136,147,156,167,180,224
2,Bartholomew County,18005,,,,,,,,,...,55,66,83,83,108,110,110,110,113,116
3,Benton County,18007,,,,,,,,,...,0,0,0,0,0,2,2,2,3,4
4,Blackford County,18009,,,,,,,,,...,4,4,4,4,5,5,5,6,6,6

In [9]:
boone_lake_warrick_covid = covid_data.loc[covid_data['County'].isin(['Boone County', 'Lake County', 'Warrick County'])]

In [10]:
boone_lake_warrick_covid

,County,GEOGID,d_20200306,d_20200307,d_20200308,d_20200309,d_20200310,d_20200311,d_20200312,d_20200313,...,D_20200407,D_20200408,D_20200409,D_20200410,D_20200411,D_20200412,D_20200413,D_20200414,D_20200415,D_20200416
5,Boone County,18011,,,,,1,1,1,1,...,74,76,84,90,103,109,109,125,129,136
44,Lake County,18089,,,,,,,,,...,418,461,525,576,676,744,796,819,876,978
86,Warrick County,18173,,,,,,,,,...,23,26,30,33,34,36,38,39,41,51

In [11]:
boone_lake_warrick_covid.columns

Index(['County', 'GEOGID', 'd_20200306', 'd_20200307', 'd_20200308',
       'd_20200309', 'd_20200310', 'd_20200311', 'd_20200312', 'd_20200313',
       'd_20200314', 'd_20200315', 'd_20200316', 'd_20200317', 'd_20200318',
       'd_20200319', 'd_20200320', 'd_20200321', 'd_20200322', 'D_20200323',
       'D_20200324', 'D_20200325', 'D_20200326', 'D_20200327', 'D_20200328',
       'D_20200329', 'D_20200330', 'D_20200331', 'D_20200401', 'D_20200402',
       'D_20200403', 'D_20200404', 'D_20200405', 'D_20200406', 'D_20200407',
       'D_20200408', 'D_20200409', 'D_20200410', 'D_20200411', 'D_20200412',
       'D_20200413', 'D_20200414', 'D_20200415', 'D_20200416'],
      dtype='object')

In [13]:
boone_lake_warrick_covid = boone_lake_warrick_covid.melt(id_vars=['County', 'GEOGID'], var_name='Date', value_name="Count")
boone_lake_warrick_covid['Date'] = boone_lake_warrick_covid['Date'].map(lambda x: x.lstrip('dD_'))

In [14]:
boone_lake_warrick_covid

             County GEOGID      Date Count
0      Boone County  18011  20200306
1       Lake County  18089  20200306
2    Warrick County  18173  20200306
3      Boone County  18011  20200307
4       Lake County  18089  20200307
..              ...    ...       ...   ...
121     Lake County  18089  20200415   876
122  Warrick County  18173  20200415    41
123    Boone County  18011  20200416   136
124     Lake County  18089  20200416   978
125  Warrick County  18173  20200416    51

[126 rows x 4 columns]

In [16]:

import numpy as np
boone_covid = boone_lake_warrick_covid.loc[boone_lake_warrick_covid['County'].isin(['Boone County'])]
boone_covid = boone_covid.reset_index(drop=True) 
boone_covid.replace('', np.nan, inplace=True)
boone_covid.fillna(0, inplace=True)
boone_covid['Count'] = boone_covid['Count'].astype(int)

In [17]:
boone_covid

          County GEOGID      Date  Count
0   Boone County  18011  20200306      0
1   Boone County  18011  20200307      0
2   Boone County  18011  20200308      0
3   Boone County  18011  20200309      0
4   Boone County  18011  20200310      1
5   Boone County  18011  20200311      1
6   Boone County  18011  20200312      1
7   Boone County  18011  20200313      1
8   Boone County  18011  20200314      1
9   Boone County  18011  20200315      1
10  Boone County  18011  20200316      1
11  Boone County  18011  20200317      1
12  Boone County  18011  20200318      1
13  Boone County  18011  20200319      1
14  Boone County  18011  20200320      2
15  Boone County  18011  20200321      2
16  Boone County  18011  20200322      3
17  Boone County  18011  20200323      3
18  Boone County  18011  20200324      3
19  Boone County  18011  20200325      4
20  Boone County  18011  20200326      7
21  Boone County  18011  20200327      7
22  Boone County  18011  20200328      8
23  Boone County  18011  20200329     13
24  Boone County  18011  20200330     20
25  Boone County  18011  20200331     22
26  Boone County  18011  20200401     29
27  Boone County  18011  20200402     32
28  Boone County  18011  20200403     38
29  Boone County  18011  20200404     50
30  Boone County  18011  20200405     57
31  Boone County  18011  20200406     64
32  Boone County  18011  20200407     74
33  Boone County  18011  20200408     76
34  Boone County  18011  20200409     84
35  Boone County  18011  20200410     90
36  Boone County  18011  20200411    103
37  Boone County  18011  20200412    109
38  Boone County  18011  20200413    109
39  Boone County  18011  20200414    125
40  Boone County  18011  20200415    129
41  Boone County  18011  20200416    136

In [19]:
lake_covid = boone_lake_warrick_covid.loc[boone_lake_warrick_covid['County'].isin(['Lake County'])]
lake_covid = lake_covid.reset_index(drop=True) 
lake_covid.replace('', np.nan, inplace=True)
lake_covid.fillna(0, inplace=True)
lake_covid['Count'] = lake_covid['Count'].astype(int)
lake_covid

         County GEOGID      Date  Count
0   Lake County  18089  20200306      0
1   Lake County  18089  20200307      0
2   Lake County  18089  20200308      0
3   Lake County  18089  20200309      0
4   Lake County  18089  20200310      0
5   Lake County  18089  20200311      0
6   Lake County  18089  20200312      0
7   Lake County  18089  20200313      0
8   Lake County  18089  20200314      0
9   Lake County  18089  20200315      0
10  Lake County  18089  20200316      0
11  Lake County  18089  20200317      2
12  Lake County  18089  20200318      3
13  Lake County  18089  20200319      4
14  Lake County  18089  20200320      6
15  Lake County  18089  20200321      7
16  Lake County  18089  20200322     10
17  Lake County  18089  20200323     11
18  Lake County  18089  20200324     17
19  Lake County  18089  20200325     19
20  Lake County  18089  20200326     31
21  Lake County  18089  20200327     47
22  Lake County  18089  20200328     68
23  Lake County  18089  20200329     85
24  Lake County  18089  20200330     97
25  Lake County  18089  20200331    146
26  Lake County  18089  20200401    180
27  Lake County  18089  20200402    215
28  Lake County  18089  20200403    244
29  Lake County  18089  20200404    313
30  Lake County  18089  20200405    335
31  Lake County  18089  20200406    369
32  Lake County  18089  20200407    418
33  Lake County  18089  20200408    461
34  Lake County  18089  20200409    525
35  Lake County  18089  20200410    576
36  Lake County  18089  20200411    676
37  Lake County  18089  20200412    744
38  Lake County  18089  20200413    796
39  Lake County  18089  20200414    819
40  Lake County  18089  20200415    876
41  Lake County  18089  20200416    978

In [20]:
warrick_covid = boone_lake_warrick_covid.loc[boone_lake_warrick_covid['County'].isin(['Warrick County'])]
warrick_covid = warrick_covid.reset_index(drop=True) 
warrick_covid.replace('', np.nan, inplace=True)
warrick_covid.fillna(0, inplace=True)
warrick_covid['Count'] = warrick_covid['Count'].astype(int)
warrick_covid

            County GEOGID      Date  Count
0   Warrick County  18173  20200306      0
1   Warrick County  18173  20200307      0
2   Warrick County  18173  20200308      0
3   Warrick County  18173  20200309      0
4   Warrick County  18173  20200310      0
5   Warrick County  18173  20200311      0
6   Warrick County  18173  20200312      0
7   Warrick County  18173  20200313      0
8   Warrick County  18173  20200314      0
9   Warrick County  18173  20200315      0
10  Warrick County  18173  20200316      0
11  Warrick County  18173  20200317      0
12  Warrick County  18173  20200318      0
13  Warrick County  18173  20200319      0
14  Warrick County  18173  20200320      0
15  Warrick County  18173  20200321      0
16  Warrick County  18173  20200322      0
17  Warrick County  18173  20200323      0
18  Warrick County  18173  20200324      1
19  Warrick County  18173  20200325      0
20  Warrick County  18173  20200326      3
21  Warrick County  18173  20200327      3
22  Warrick County  18173  20200328      6
23  Warrick County  18173  20200329      8
24  Warrick County  18173  20200330      8
25  Warrick County  18173  20200331      8
26  Warrick County  18173  20200401      8
27  Warrick County  18173  20200402      8
28  Warrick County  18173  20200403     10
29  Warrick County  18173  20200404     12
30  Warrick County  18173  20200405     13
31  Warrick County  18173  20200406     19
32  Warrick County  18173  20200407     23
33  Warrick County  18173  20200408     26
34  Warrick County  18173  20200409     30
35  Warrick County  18173  20200410     33
36  Warrick County  18173  20200411     34
37  Warrick County  18173  20200412     36
38  Warrick County  18173  20200413     38
39  Warrick County  18173  20200414     39
40  Warrick County  18173  20200415     41
41  Warrick County  18173  20200416     51

In [21]:
import pickle
boone_covid.to_pickle("boone_covid.pkl")
lake_covid.to_pickle("lake_covid.pkl")
warrick_covid.to_pickle("warrick_covid.pkl")

In [22]:
def allfridays(year):
    return pd.date_range(start=str(year), end=str(year+1), 
                         freq='W-FRI').strftime('%Y%m%d').tolist()

In [36]:
Boone_weekly_claims = pd.read_csv("sample_data/BooneCounty_Claims.csv")
Boone_weekly_claims['Date'] = allfridays(2020)[:14]
Boone_weekly_claims['Claims'] = Boone_weekly_claims['Claims'].astype(int)

Boone_weekly_claims

         Week  Claims      Date
0    1/4/2020      16  20200103
1   1/11/2020      26  20200110
2   1/18/2020      17  20200117
3   1/25/2020      13  20200124
4    2/1/2020      27  20200131
5    2/8/2020       0  20200207
6   2/15/2020      19  20200214
7   2/22/2020      12  20200221
8   3/28/2020      14  20200228
9    3/7/2020      21  20200306
10  3/14/2020      14  20200313
11  3/21/2020     358  20200320
12  3/28/2020     599  20200327
13   4/3/2020     670  20200403

In [35]:
Lake_weekly_claims = pd.read_csv("sample_data/LakeCounty_Claims.csv")
Lake_weekly_claims['Date'] = allfridays(2020)[:14]
Lake_weekly_claims['Claims'] = Lake_weekly_claims['Claims'].map(lambda x: x.replace(',', ''))

Lake_weekly_claims['Claims'] = Lake_weekly_claims['Claims'].astype(int)

Lake_weekly_claims

         Week  Claims      Date
0    1/4/2020     399  20200103
1   1/11/2020     404  20200110
2   1/18/2020     268  20200117
3   1/25/2020     281  20200124
4    2/1/2020     253  20200131
5    2/8/2020     221  20200207
6   2/15/2020     181  20200214
7   2/22/2020     240  20200221
8   3/28/2020     218  20200228
9    3/7/2020     204  20200306
10  3/14/2020     175  20200313
11  3/21/2020    3820  20200320
12  3/28/2020    6414  20200327
13   4/3/2020    6972  20200403

In [32]:
Warrick_weekly_claims = pd.read_csv("sample_data/WarrickCounty_Claims.csv")
Warrick_weekly_claims['Date'] = allfridays(2020)[:14]
Warrick_weekly_claims['Claims'] = Warrick_weekly_claims['Claims'].astype(int)

Warrick_weekly_claims

         Week  Claims      Date
0    1/4/2020      38  20200103
1   1/11/2020      40  20200110
2   1/18/2020      32  20200117
3   1/25/2020      28  20200124
4    2/1/2020      42  20200131
5    2/8/2020      25  20200207
6   2/15/2020      20  20200214
7   2/22/2020      24  20200221
8   3/28/2020      13  20200228
9    3/7/2020      14  20200306
10  3/14/2020      21  20200313
11  3/21/2020     368  20200320
12  3/28/2020     824  20200327
13   4/3/2020     992  20200403

In [43]:
boone_covid_claims = pd.merge(Boone_weekly_claims[['Claims', 'Date']], 
                                           boone_covid[['Count', 'Date']], how='outer', on='Date', sort=True)
boone_covid_claims.fillna(0, inplace=True)
boone_covid_claims

    Claims      Date  Count
0     16.0  20200103    0.0
1     26.0  20200110    0.0
2     17.0  20200117    0.0
3     13.0  20200124    0.0
4     27.0  20200131    0.0
5      0.0  20200207    0.0
6     19.0  20200214    0.0
7     12.0  20200221    0.0
8     14.0  20200228    0.0
9     21.0  20200306    0.0
10     0.0  20200307    0.0
11     0.0  20200308    0.0
12     0.0  20200309    0.0
13     0.0  20200310    1.0
14     0.0  20200311    1.0
15     0.0  20200312    1.0
16    14.0  20200313    1.0
17     0.0  20200314    1.0
18     0.0  20200315    1.0
19     0.0  20200316    1.0
20     0.0  20200317    1.0
21     0.0  20200318    1.0
22     0.0  20200319    1.0
23   358.0  20200320    2.0
24     0.0  20200321    2.0
25     0.0  20200322    3.0
26     0.0  20200323    3.0
27     0.0  20200324    3.0
28     0.0  20200325    4.0
29     0.0  20200326    7.0
30   599.0  20200327    7.0
31     0.0  20200328    8.0
32     0.0  20200329   13.0
33     0.0  20200330   20.0
34     0.0  20200331   22.0
35     0.0  20200401   29.0
36     0.0  20200402   32.0
37   670.0  20200403   38.0
38     0.0  20200404   50.0
39     0.0  20200405   57.0
40     0.0  20200406   64.0
41     0.0  20200407   74.0
42     0.0  20200408   76.0
43     0.0  20200409   84.0
44     0.0  20200410   90.0
45     0.0  20200411  103.0
46     0.0  20200412  109.0
47     0.0  20200413  109.0
48     0.0  20200414  125.0
49     0.0  20200415  129.0
50     0.0  20200416  136.0

In [44]:
lake_covid_claims = pd.merge(Lake_weekly_claims[['Claims', 'Date']], 
                                           lake_covid[['Count', 'Date']], how='outer', on='Date', sort=True)
lake_covid_claims.fillna(0, inplace=True)
lake_covid_claims

    Claims      Date  Count
0    399.0  20200103    0.0
1    404.0  20200110    0.0
2    268.0  20200117    0.0
3    281.0  20200124    0.0
4    253.0  20200131    0.0
5    221.0  20200207    0.0
6    181.0  20200214    0.0
7    240.0  20200221    0.0
8    218.0  20200228    0.0
9    204.0  20200306    0.0
10     0.0  20200307    0.0
11     0.0  20200308    0.0
12     0.0  20200309    0.0
13     0.0  20200310    0.0
14     0.0  20200311    0.0
15     0.0  20200312    0.0
16   175.0  20200313    0.0
17     0.0  20200314    0.0
18     0.0  20200315    0.0
19     0.0  20200316    0.0
20     0.0  20200317    2.0
21     0.0  20200318    3.0
22     0.0  20200319    4.0
23  3820.0  20200320    6.0
24     0.0  20200321    7.0
25     0.0  20200322   10.0
26     0.0  20200323   11.0
27     0.0  20200324   17.0
28     0.0  20200325   19.0
29     0.0  20200326   31.0
30  6414.0  20200327   47.0
31     0.0  20200328   68.0
32     0.0  20200329   85.0
33     0.0  20200330   97.0
34     0.0  20200331  146.0
35     0.0  20200401  180.0
36     0.0  20200402  215.0
37  6972.0  20200403  244.0
38     0.0  20200404  313.0
39     0.0  20200405  335.0
40     0.0  20200406  369.0
41     0.0  20200407  418.0
42     0.0  20200408  461.0
43     0.0  20200409  525.0
44     0.0  20200410  576.0
45     0.0  20200411  676.0
46     0.0  20200412  744.0
47     0.0  20200413  796.0
48     0.0  20200414  819.0
49     0.0  20200415  876.0
50     0.0  20200416  978.0

In [45]:
warrick_covid_claims = pd.merge(Warrick_weekly_claims[['Claims', 'Date']], 
                                           warrick_covid[['Count', 'Date']], how='outer', on='Date', sort=True)
warrick_covid_claims.fillna(0, inplace=True)
warrick_covid_claims

    Claims      Date  Count
0     38.0  20200103    0.0
1     40.0  20200110    0.0
2     32.0  20200117    0.0
3     28.0  20200124    0.0
4     42.0  20200131    0.0
5     25.0  20200207    0.0
6     20.0  20200214    0.0
7     24.0  20200221    0.0
8     13.0  20200228    0.0
9     14.0  20200306    0.0
10     0.0  20200307    0.0
11     0.0  20200308    0.0
12     0.0  20200309    0.0
13     0.0  20200310    0.0
14     0.0  20200311    0.0
15     0.0  20200312    0.0
16    21.0  20200313    0.0
17     0.0  20200314    0.0
18     0.0  20200315    0.0
19     0.0  20200316    0.0
20     0.0  20200317    0.0
21     0.0  20200318    0.0
22     0.0  20200319    0.0
23   368.0  20200320    0.0
24     0.0  20200321    0.0
25     0.0  20200322    0.0
26     0.0  20200323    0.0
27     0.0  20200324    1.0
28     0.0  20200325    0.0
29     0.0  20200326    3.0
30   824.0  20200327    3.0
31     0.0  20200328    6.0
32     0.0  20200329    8.0
33     0.0  20200330    8.0
34     0.0  20200331    8.0
35     0.0  20200401    8.0
36     0.0  20200402    8.0
37   992.0  20200403   10.0
38     0.0  20200404   12.0
39     0.0  20200405   13.0
40     0.0  20200406   19.0
41     0.0  20200407   23.0
42     0.0  20200408   26.0
43     0.0  20200409   30.0
44     0.0  20200410   33.0
45     0.0  20200411   34.0
46     0.0  20200412   36.0
47     0.0  20200413   38.0
48     0.0  20200414   39.0
49     0.0  20200415   41.0
50     0.0  20200416   51.0

In [50]:
boone_covid_claims.to_json("static/data/WeeklyBooneData.json")
lake_covid_claims.to_json("static/data/WeeklyLakeData.json")
warrick_covid_claims.to_json("static/data/WeeklyWarrickData.json")

In [49]:
boone_covid_claims.to_html("static/data/WeeklyBooneData.html")
lake_covid_claims.to_html("static/data/WeeklyLakeData.html")
warrick_covid_claims.to_html("static/data/WeeklyWarrickData.html")